@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.principalData {
    width: 75%;
    height: 170px;
    float: right;
    margin: 20px 30px;
    background-color: #1B1D1F;
    border-radius: 15px;
}

.principalData h1 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px 0px 0px 20px;
}