.usersPage {
    width: 100%;
    height: 115vh;
    background-color: #111315;
}

.principalDataUsers {
    margin-top: 20px;
}

.user {
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.116);
    color: #FFF;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 5px;
    margin: 10px 35px 10px 15px;
    padding-left: 15px;
}

.user:hover {
    border: 2px solid #0B9851;
    color: #0B9851;
    user-select: none;
}

.userInfo {
    font-size: 18px;
}

.userName {
    width: 40%;
}

.userPlan {
    width: 230px;
}

.userDate {
    width: 260px;
}

.userButton {
    width: 80px;
    height: 30px;
    background-color: #0B9851;
    border: none;
    border-radius: 5px;
    color: #141414;
    cursor: pointer;
    transition: 0.6s;
    margin: 0 10px;
}

.userButton:hover {
    border: 2px solid #0B9851;
    color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 8px -12px, rgba(0, 0, 0, 0.16) 0px 16px 12px -8px;
}